/* Start Recipe CSS */
* {
    font-family: Helvetica;
}

img {
    height: 150px;
}

.description {
    font-size: 20px;
}

#cook-time {
    font-weight: bold;
}

.ingredients li {
    list-style: square;
}

p.time {
    color: gray;
}

.external-link {
    color: SeaGreen;
}

/* End Recipe CSS*/



/* Start Portfolio Project */
body {
    font-family: Georgia;
    background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png"); 
  }
  
  .header {
    background-color: CornflowerBlue;
    text-align: center;
  }
  
  .about-me {
    font-size: 20px;
    opacity: .50;
  }
  
  .title {
    font-weight: bold;
  }
  
  h1 {
    color: Azure;
  }